.card-restaurante {
    display: flex;
    width: 360px;
    height: 160px;
    border-radius: 13px;
    border: 2px solid var(--color-dark-50);
    background: var(--color-light);
}
.wrap-logo-restaurante {
    display: flex;
    width: 160px;
    height: 159px;
    align-items: center;
    justify-content: center;
}
.wrap-logo-restaurante .logo-restaurante {
    width: 110px;
}
.wrap-info-restaurante {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 170px;
    height: 159px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.wrap-info-restaurante .t-texto{
    color: var(--color-dark-medium);
}