header {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-light);
}
#logo-degusta .logoMobile {
    display: none;
}
#logo-degusta .logoDesktop {
    display: block;
    width: 270px;
}

@media screen and (max-width: 730px){
    header {
        display: block;
    }
    #logo-degusta .logoDesktop {
        display: none;
    }
}