.mobile-menu{
    display: none;
}
.mobile-menu-icon {
    display: none;
}
.header-decoration {
    display: none;
}

@media screen and (max-width: 730px){
    header {
        width: 100%;
        overflow: hidden;
        background-color: var(--color-light);
    }
    .nav-bar {
        width: 100vw;
        padding: 1.5rem 10vw;
        justify-content: center;
        align-items: center;
    }
    .wrap-decoration {
        width: 100%;
    }
    .header-decoration {
        display: flex;
        position: absolute;
        height: inherit;
        flex-shrink: 100;
        top: 0;
    }
    .header-decoration.var-left {
        top: 20px;
        left: 0;
    }
    .header-decoration.var-right {
        right: 0;
    }
    .nav-list {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        flex-shrink: 10;
        right: 10vw;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
    #logo-degusta .logoMobile {
        font-family: "Nobel Book";
        font-size: 16px;
        color: var(--color-dark);
        text-align: center;
        width: 128px;
    }

}