.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1vw 3vw;
}
.nav-list {
    display: flex;
    align-items: center;
}
.logoDesktop {
    width: 200px;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 1.5vw;
}
.nav-link {
    font-family: "Nobel Bold";
    font-size: 15px;
    color: var(--color-dark-medium);
}
.nav-link:hover {
    color: var(--color-first);
}
