.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 46px;
}
.nav-link {
    font-family: "Nobel Bold";
    color: var(--color-dark);
    font-size: 1rem;
}