footer section.copyright {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--color-first);
    font-size: 13px;
    font-weight: 700;
    color: var(--color-medium);
    padding: 10px;
}

@media screen and (max-width: 730px){
    footer section.copyright {
        background-color: var(--color-light);
    }
}