footer section.copyright {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #E8DED5;
    font-size: 13px;
    font-weight: 700;
    color: #372218;
    padding: 10px;
}