* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
}

h2.mobile {
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}