.restaurante-detalhes {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}
.restaurante-detalhes .restaurante-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    width: 150vw;
    height: 50vh;
    border-radius: 0px 0px 450px 450px;
    box-shadow: 0px 4px 4px #E8DED5;
}
.restaurante-detalhes .restaurante-prato{
    display: flex;
    height: 50vh;
    align-items: center;
}