.restaurante-endereco {
    display: flex;
    background-color: var(--color-dark-medium);
    align-items: center;
    padding: 65px 0;
    gap: 40px;
}
.restaurante-endereco .wrap-map{
    position: relative;
    width: 40vw;
    height: 55vh;
    border-radius: 13px;
}
.restaurante-endereco .wrap-map .map {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 13px;
}
.restaurante-endereco .wrap-address-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border-radius: 10px;
    width: 40vw;
    height: 38px;
}
.restaurante-endereco .icon-map {
    width: 15px;
    margin-right: 13px;
}
@media screen and (max-width: 730px){
    .restaurante-endereco{
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .restaurante-endereco .wrap-info{
        padding: 4vw;
    }
    .restaurante-endereco .wrap-map{
        width: 80vw;
        height: 45vh;
    }
    .restaurante-endereco .wrap-address-text{
        width: 80vw;
    }
}