.link-plate {
    text-decoration: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.card-prato {
    display: flex;
    width: auto;
    border-radius: 13px;
}
.wrap-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    border-radius: 13px;
    margin-right: 1vw;
}
.wrap-img img {
    width: 9rem;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.wrap-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    max-width: 17rem;
}
.card-prato .t-titulo-prato {
    font-size: 1.2rem;
}
.card-prato .t-card-prato-nome-rest {
    color: var(--color-dark-medium);
    margin: 0.3rem 0 1.4rem 0;
}
.card-prato .t-card-prato-preco {
    font-family: "Nobel Bold";
    color: var(--color-first);
}
.logo-prato {
    width: 45%;
}
.logo-prato img {
    height: 100px;
}