@font-face {
    font-family: "Damion";
    src: url('Damion-Regular.ttf');
}
@font-face {
    font-family: "Nobel Book";
    src: url('31227.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Regular";
    src: url('31229.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Bold";
    src: url('31231.woff2') format('woff2');
}
/* @font-face {
    font-family: "Nobel Black";
    src: url('31233.woff2') format('woff2');
} */
/* @font-face {
    font-family: "Nobel Light";
    src: url('31225.woff2') format('woff2');
} */

.t-titulo-prato {
    font-family: "Nobel Bold";
    font-size: 24px;
}
.t-subtitulo-prato {
    font-family: "Damion";
    font-size: 24px;
}
.t-texto {
    font-family: "Nobel Regular";
    font-style: italic;
    font-size: 16px;
}
.t-text-button {
    font-family: "Nobel Book";
    font-size: 16px;
}
.t-observacao {
    font-family: "Damion";
    font-size: 16px;
}
.t-titulo-secao {
    font-family: "Damion";
    font-size: 32px;
    color: var(--color-dark-medium);
}
.t-card-prato-nome-rest {
    font-family: "Nobel Regular";
    font-size: 14px;
}
.t-card-prato-preco {
    font-family: "Nobel Bold";
    font-size: 14px;
}
.t-card-rest-nome-restaurante {
    font-family: "Nobel Bold";
    font-size: 22px;
}
.t-info {
    font-family: "Nobel Regular";
    font-size: 16px;
}
.t-card-rest-prato-participante {
    font-family: "Damion";
    font-size: 20px;
}
.t-card-rest-nome-prato {
    font-family: "Nobel Bold";
    font-size: 20px;
}
.t-realizacao, .t.apoio {
    font-family: "Nobel Regular";
    font-size: 12px;
    color: var(--color-dark);
}

/* 

body {
    font-family: "Nobel Regular";
}

h2 {
    color: var(--color-dark);
    text-align: center;
    font-family: Damion;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}
h3 {
    color: var(--color-dark);
    font-family: "Nobel";
    font-weight: bold;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
}
p {
    color: var(--color-light);
    font-family: "Nobel Regular";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */