@font-face {
    font-family: "Damion Regular";
    src: url('Damion-Regular.ttf');
}
@font-face {
    font-family: "Nobel ExtraLight";
    src: url('31223.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Light";
    src: url('31225.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Book Regular";
    src: url('31227.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Regular";
    src: url('31229.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Bold";
    src: url('31231.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Black";
    src: url('31233.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel ExtraLightCondensed";
    src: url('31235.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel LightCondensed";
    src: url('31236.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel BookCondensed";
    src: url('31237.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel RegularCondensed";
    src: url('31238.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel BoldCondensed";
    src: url('31239.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel BlackCondensed";
    src: url('31240.woff2') format('woff2');
}

body {
    font-family: "Nobel Regular";
}

h2 {
    color: var(--color-dark);
    text-align: center;
    font-family: Damion;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}
h2.mobile_dark {
    color: var(--color-medium);
}
h3 {
    color: var(--color-dark);
    font-family: "Nobel";
    font-weight: bold;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
}
p {
    color: var(--color-light);
    font-family: "Nobel Regular";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}