@font-face {
    font-family: "Damion";
    src: url('Damion-Regular.ttf');
}
@font-face {
    font-family: "Nobel Book";
    src: url('31227.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Regular";
    src: url('31229.woff2') format('woff2');
}
@font-face {
    font-family: "Nobel Bold";
    src: url('31231.woff2') format('woff2');
}
a {
    font-family: "Nobel Regular";
    text-decoration: none;
    color: var(--color-dark-medium);
    font-size: 0.9rem;
}
.t-titulo-prato {
    font-family: "Nobel Bold";
    font-size: 24px;
}
.t-subtitulo-prato {
    font-family: "Damion";
    font-size: 24px;
}
.t-texto {
    font-family: "Nobel Regular";
    font-style: italic;
    font-size: 16px;
    line-height: 130%;
}
.t-text-button, .t-qtd-pessoas {
    font-family: "Nobel Book";
    font-size: 16px;
    text-align: center
}
.t-restaurante-titulo-ctt {
    font-family: "Damion";
    font-size: 16px;
    margin-bottom: 4px;
    color: var(--color-first);
}
.t-restaurante-info-ctt, .t-restaurante-button-demais {
    font-family: "Nobel Regular";
    font-size: 16px;
    color: var(--color-dark-medium);
}
.t-text-address {
    font-family: "Nobel Regular";
    font-size: 16px;
}
.t-titulo-secao {
    font-family: "Damion";
    font-size: 32px;
    color: var(--color-dark-medium);
    text-align: center;
    margin-bottom: 20px;
}
.t-card-prato-nome-rest {
    font-family: "Nobel Regular";
    font-size: 14px;
}
.t-card-prato-preco {
    font-family: "Nobel Bold";
    font-size: 14px;
}
.t-card-rest-nome-restaurante {
    font-family: "Nobel Bold";
    font-size: 18px;
    color: var(--color-dark);
}
.t-arroba-instagram, .t-detail {
    font-family: "Nobel Book";
    font-size: 16px;
}
.t-card-rest-prato-participante {
    font-family: "Damion";
    font-size: 20px;
    color: var(--color-first);
}
.t-card-rest-nome-prato {
    font-family: "Nobel Bold";
    font-size: 20px;
    margin: 10px 0 16px;
    color: var(--color-dark-medium);
}
.t-realizacao, .t-apoio {
    font-family: "Nobel Regular";
    font-size: 14px;
    color: var(--color-dark);
    text-align: center;
}
.t-prato-preco{
    font-family: 'Nobel Bold';
    color: var(--color-dark-medium);
    font-size: 16px;
}
.t-prato-preco.-principal {
    font-style: italic;
    font-size: 36px;
    margin-left: 2px;
    margin-right: 4px;
}
.t-prato-preco.-centavos {
    font-style: italic;
}
.t-rest-consumo {
    font-family: "Damion";
    font-size: 16px;
    text-align: center;
    line-height: 115%;
    color: var(--color-dark-medium);
    margin-top: 16px;
}