.box-decoration {
    background-color: var(--color-dark);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box-decoration.box-decoration.-var-desktop {
    background-color: var(--color-light);
}

@media screen and (max-width: 730px) {
    .box-decoration {
        background-color: var(--color-dark-medium);
        height: 90px;
    }
    .box-decoration.-var-desktop {
        display: none;
    }
}