.main-sobre {
    display: flex;
    background-color: var(--color-dark);
    padding: 5rem 0;
    margin: 0;
    width: 100%;
    height: auto;
}
.main-sobre .wrap-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
    width: 50%;
}
.main-sobre .img-souvenir {
    width: 70%;
}
.main-sobre .wrap-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0;
    max-width: 45%;
}
.main-sobre .t-titulo-secao {
    background-image: url(../../imagens/icons-decoration/titulo-papel-rasgado.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 100px;
    color: var(--color-first);
    text-align: center;
    line-height: 100px;
    transform: rotate(-3deg);
}

@media screen and (max-width: 730px){
    .main-sobre {
        background-color: var(--color-dark-medium);
        padding: 0;
    }
    .main-sobre .wrap-img {
        display: none;
    }
    .main-sobre .wrap-info{
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: 0;
        max-width: 100vw;
    }
    .main-sobre .t-titulo-secao {
        background-image: url(../../imagens/icons-decoration/titulo-papel-rasgado.svg);
        width: 360px;
        height: 80px;
        line-height: 80px;
    }
    .main-sobre .t-texto {
        max-width: 90vw;
    }
}