.main-realizacao {
    display: flex;
    background-color: var(--color-dark-medium);
}
.main-realizacao .wrap-realizacao-apoio {
    background-image: url(/assets/imagens/background/bkg-mobile-textura-papel.svg);
    width: 100vw;
    border-radius: 13px 13px 0 0;

}
.main-realizacao .wrap-realizacao-apoio ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.realizador, .apoiador {
    margin-bottom: 3px;
}

/* @media screen and (max-width: 730px){
    .realizacao {
        height: 450px;
        background-color: var(--color-first);
    }
    .main-realizacao .wrapper-all {
        width: 80%;
        padding: 15px;
    }
} */
